.navigation-content {
    height: 68px;
    background: #f8f8f8;
    left: 0;
    top: 0;
    width: 100%;
    position: fixed;
    -webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 2px 2px rgba(0,0,0,0.1);
    box-shadow: 0 2px 2px rgba(0,0,0,0.1);
}
.navigation-bar {
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 53px;
}
.menu-btn {
    width: 28px;
    height: 28px;
    position: absolute;
    top: 20px;
    right: 20px;
    background: url(../img/nav-menu.png) no-repeat center/contain;
    cursor: pointer;
    display: none;
}
.navigation-left {
    text-align: left;
}
.navigation-right {
    position: absolute;
    top: 0;
    right: 0;
    left: 200px;
    bottom: 0;
    padding-right: 53px;
    text-align: right;
}
.navigation-menu {
    padding: 10px;
    display: inline-block;
}
.menu-item {
    display: inline-block;
    margin: 28px 0 0 63px;
    white-space: nowrap;
}
.menu-item a:not(.btn) {
    color: #4a4a4a;
    text-decoration: none;
    font-weight: 300;
    font-size: 14px;
}